name: release
on:
  push:
    tags:
      - v*.*.*
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6
    - name: Unshallow clone for tags
      run: git fetch --prune --unshallow --tags
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{matrix.goversion}}
    - name: Install pulumictl
      uses: jaxxstorm/action-install-gh-release@v2.1.0
      with:
        repo: pulumi/pulumictl
    - uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Setup Yarn
      run: |
        corepack enable
        yarn set version 1.22.22
    - name: Verify Node.js and Yarn versions
      run: |
        node --version
        yarn --version
    - name: Publish NPM
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        make build_nodejs
        npm publish --access public sdk/nodejs/bin
        git checkout -f sdk/nodejs/package.json
    - name: Set PreRelease Version
      run: echo "GORELEASER_CURRENT_TAG=v$(pulumictl get version --language generic)" >> $GITHUB_ENV
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        args: -p 3 release --clean
        version: latest
    strategy:
      fail-fast: true
      matrix:
        goversion:
        - 1.24.x
